/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --bgcolor: #ffffff;
    --hover: #e6ebef;
    --keel: #0b7b99;
    --pcol: #6e7e96;
    --footer: #212a30;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    position: relative;
}

/* SIDEBAR CSS */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: var(--bgcolor);
    padding: 6px 12px;
    border-right: 1px solid var(--pcol);
}

#menubtn {
    /* position:absolute; */
    color: var(--pcol);
    left: 6px;
    top: 6px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}

#menubtn:hover {
    background-color: var(--hover);
    border-radius: 6px;
    color: var(--black);
}

.sidebar ul {
    margin-top: 20px;
    padding: 0;
}

.sidebar ul hr {
    margin: 10px 0px;
}

.sidebar ul li {
    height: 50px;
    margin: 0 5px;
}

.sidebar ul li a {
    color: var(--pcol);
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 100%;
}

.sidebar ul li a:hover {
    background-color: var(--hover);
    border-radius: 5px;
    color: var(--black);
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
    font-size: x-large;
}

.sidebar-list {
    display: block;
}

/* BODY CSS */

#bodyCont {
    position: absolute;
    top: 90px;
    right: 0;
    margin-left: 50px;
}

/* NAVBAR CSS */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--pcol);
    height: 70px;
    padding: 0rem 1rem;
    z-index: 100;
    background-color: var(--bgcolor);
}

.navItems a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: row;
    height:50px;
}

.content div {
    padding: 10px;
}

.vr {
    border: 1px solid var(--pcol);
}

.logo img {
    width: 130px;
}

/* FOOTER CSS */

.footer {
    background-color: var(--footer);
    height: 590px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 90px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--bgcolor);
    padding: 1rem 3rem;
}
input[type="email"]:invalid{
    color:red;
} 
.width-20{
    width:20%;
}
#navbar_pop_up{
    top: 50px;z-index:500;right:0;
}
#car_navbar_login_name p{
    white-space: nowrap;
    text-overflow: ellipsis;
}
#car_navbar_login_name{
    display: flex;
    flex-direction: row-reverse;
    max_width:120px;
}
